* {
	font-family: "Red Hat Display", sans-serif;
}

.container {
	display: grid;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	background-color: rgba(88, 124, 159, 100);
	grid-template-columns: 1fr;
	grid-template-rows: 10% 70% 1fr 1fr;
	grid-template-areas:
		"header"
		"main"
		"content1"
		"footer";
}

header {
	grid-area: header;
	position: relative;
	background-color: #587c9f;
	padding: 1rem;
	font-size: 1.5rem;
}

nav a {
	display: block;
	background-color: #587c9f;
	color: white;
	padding: 1rem 1.5rem;
	text-decoration: none;
}

#menu-checkbox {
	display: none;
}

nav {
	display: none;
	position: absolute;
	margin: 0px;
	color: #587c9f;
	left: 0px;
}

#menu-checkbox:checked ~ nav {
	display: block;
}

footer {
	grid-area: footer;
	background-color: black;
	color: gray;
	text-align: center;
	padding-bottom: 10px;
}

main {
	font-weight: 600;
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: center;
	align-items: center;
}

main input {
	border-radius: 5px;
	margin: 2px;
	border: #587c9f;
	font-size: 1rem;
}

.redjacket1 {
	width: 200px;
}

.payment {
	height: 110px;
}

@media (min-width: 600px) {
	.container {
		display: grid;
		height: 100vh;
		margin: 0px;
		gap: 5px;
		grid-template-columns: 1fr;
		grid-template-rows: 10% 1.5fr 0.2fr 0.2fr;
		grid-template-areas:
			"header"
			"main"
			"content1"
			"footer";
	}

	header {
		background-color: #6d869e;
	}

	nav {
		display: flex;
		position: static;
		font-size: 2rem;
		flex-direction: row;
		gap: 2rem;
		margin-left: 1rem;
		justify-content: flex-start;
	}

	nav a {
		display: inline-block;
		border-radius: 10px;
	}

	.rainydayslogo {
		position: fixed;
		top: 0;
		right: 0;
		padding: 1rem 2.5rem;
	}

	.checkbutton {
		display: none;
	}

	main {
		font-size: 2rem;
	}

	main input {
		width: 20rem;
		height: 2rem;
	}

	.payment {
		height: 220px;
	}
}
