@media (min-width: 600px) {
    .container {
        display: grid;
        height: 100vh;
        margin: 0px;
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
        grid-template-areas: 
        "nav nav nav nav"
        "aside main main main"
        "aside content1 content2 content3"
        "footer footer footer footer"
        ;
    }
}