@import "mediaqueries.css";
@import "navfooter.css";

* {
	font-family: "Red Hat Display", sans-serif;
}

.container {
	display: grid;
	height: 100vh;
	margin: 0px;
	background-color: rgba(88, 124, 159, 100);
    grid-template-columns: 1fr;
	grid-template-rows: 10% 70% 1fr 1fr;
	grid-template-areas:
		"header"
		"main"
		"content1"
		"footer";
}

header {
	grid-area: header;
	position: relative;
	background-color: #587c9f;
	padding: 1rem;
}

nav a {
	display: block;
	background-color: #587c9f;
	color: white;
	padding: 1rem 1.5rem;
	text-decoration: none;
    ;
}

#menu-checkbox {
	display: none;
}

nav {
	display: none;
	position: absolute;
	margin: 0px;
	color: #587c9f;
	left: 0px;
}

#menu-checkbox:checked ~ nav {
	display: block;
}

footer {
	grid-area: footer;
	background-color: black;
	color: gray;
	text-align: center;
    padding-bottom: 10px;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}

.description {
    padding: 10px;
    margin: 0px;
}

.revdescription {
    padding: 10px;
    margin: 0px;
}
#redjacket1 {
    max-width: 100%;
    height: 120px;
    
}

#revredjacket {
    max-width: 100%;
    height: 120px;
    
}
